<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card ques-head-container card-wrapper">
            <a href="/"><i class="fas fa-arrow-circle-left fa-2x mb-1"></i></a>
            <div class="card-body">
                <h2><%=question.title%></h2>
                <p class="mx-2"><%=question.question%></p>
            </div>
        </div>
        <form method="POST" action="/answer">
            <h3>Answer</h3>
            <textarea name="content" id="" placeholder="Write Here" cols="30" rows="5" class="form-control mt-2 card-wrapper"></textarea>
            <input type="hidden" name="question" value="<%=question.id%>">
            <button type="submit" class="btn btn-dark mt-2">Send</button>
        </form>

        <div class="card list-ans-container card-wrapper mt-3 mb-1">
            <div class="d-flex">
                <i class="fas fa-lightbulb fa-3x mb-1 p-1"></i>
                <h3 class="align-self-center pt-1 px-1">ANSWERS</h3>
            </div>
            <% answers.forEach(answers => {%>
                <div class="card card-wrapper mb-2">
                    <div class="card-body">
                        <p class=""><%=answers.content%></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>